# After cleaning the test and train data

In [1]:
#Import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set(color_codes=True)
plt.style.use('fivethirtyeight')
from sklearn.preprocessing import StandardScaler

/Users/millicentomondi/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRFRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error

# Merged the test and train data into one

In [18]:
data = pd.read_csv("test_train.csv")
data.shape

(2919, 76)

In [19]:
data.head()

,Unnamed: 0.1,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,0,60,3,65.0,8450.0,1,3,3,0,...,0,0,0,0,0,2,2008,8,4,208500.0
1,1,1,20,3,80.0,9600.0,1,3,3,0,...,0,0,0,0,0,5,2007,8,4,181500.0
2,2,2,60,3,68.0,11250.0,1,0,3,0,...,0,0,0,0,0,9,2008,8,4,223500.0
3,3,3,70,3,60.0,9550.0,1,0,3,0,...,272,0,0,0,0,2,2006,8,0,140000.0
4,4,4,60,3,84.0,14260.0,1,0,3,0,...,0,0,0,0,0,12,2008,8,4,250000.0

In [21]:
data = data.drop(["Unnamed: 0.1","Unnamed: 0"],axis=1)

In [22]:
data.shape

(2919, 74)

In [23]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450.0,1,3,3,0,4,0,...,0,0,0,0,0,2,2008,8,4,208500.0
1,20,3,80.0,9600.0,1,3,3,0,2,0,...,0,0,0,0,0,5,2007,8,4,181500.0
2,60,3,68.0,11250.0,1,0,3,0,4,0,...,0,0,0,0,0,9,2008,8,4,223500.0
3,70,3,60.0,9550.0,1,0,3,0,0,0,...,272,0,0,0,0,2,2006,8,0,140000.0
4,60,3,84.0,14260.0,1,0,3,0,2,0,...,0,0,0,0,0,12,2008,8,4,250000.0

In [24]:
df = data.copy()
X = df.drop(['SalePrice'], axis = 1)
y =df[['SalePrice']]

In [25]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
X_train.shape

(2335, 73)

In [28]:
y_train.shape

(2335, 1)

# Linear Regression

In [43]:
# Import LinearRegression from sklearn
from sklearn.linear_model import LinearRegression

# Initialize Linear Regression model
lrmodel = LinearRegression()

# Fit the model on training data
lrmodel.fit(X_train, y_train)

# Print model evaluation for training and test sets
print('Linear Regression:')

# Calculate R-squared scores for training and test sets
lr_train = lrmodel.score(X_train, y_train)  # R-squared on training set
lr_test = lrmodel.score(X_test, y_test)     # R-squared on test set

# Print the R-squared scores
print("Lr_train RÂ²:", lr_train)
print("Lr_test RÂ²:", lr_test)

# Uncomment the cross-validation line if you want to use cross-validation
# lr_cv = cross_val_score(lrmodel, X, y, cv=5).mean()
# print("Cross-validated RÂ²:", lr_cv)

Linear Regression:
Lr_train RÂ²: 0.5383789410061947
Lr_test RÂ²: 0.4906662553972465

In [30]:
# Ridge Regression
ridge_model = Ridge()
ridge_model.fit(X_train,y_train)
ridge_train_r2 = ridge_model.score(X_train,y_train)
ridge_test_r2 = ridge_model.score(X_test, y_test)
ridge_cv_r2 = cross_val_score(ridge_model, X, y, cv=5).mean()
print("Ridge r2 score:",ridge_train_r2)
print("Ridge r2 score:",ridge_test_r2)

Ridge r2 score: 0.5382496225061191
Ridge r2 score: 0.4924506487139302

In [31]:
from sklearn.linear_model import Ridge

ridge_model = Ridge(alpha=1.0)  # alpha controls the regularization strength
ridge_model.fit(X_train, y_train)
print("Ridge Train RÂ²:", ridge_model.score(X_train, y_train))
print("Ridge Test RÂ²:", ridge_model.score(X_test, y_test))

Ridge Train RÂ²: 0.5382496225061191
Ridge Test RÂ²: 0.4924506487139302

In [32]:
# Lasso Regression
lasso_model = Lasso()
lasso_model.fit(X_train,y_train)
lasso_train_r2 = lasso_model.score(X_train,y_train)
lasso_test_r2 = lasso_model.score(X_test,y_test)
print("Lasso r2 score:",lasso_train_r2)
print("Lasso r2 score:",lasso_test_r2)

Lasso r2 score: 0.5383775941641775
Lasso r2 score: 0.4909373869197807

# Decision Tree

In [45]:
from sklearn.tree import DecisionTreeRegressor


# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=5, random_state=42)
tree_model.fit(X_train, y_train)

# Predictions
y_pred_test = tree_model.predict(X_test)
y_pred_train = tree_model.predict(X_train)

In [46]:
# Evaluation

#R2
r2_train = r2_score(y_train, y_pred_train)
r2_test = r2_score(y_test, y_pred_test)

print(f"Train: r2: {r2_train}")
print(f"Test: r2: {r2_test}")

Train: r2: 0.8259781427751438
Test: r2: 0.7694399874518316

## Random Forest

In [34]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor
rfmodel = RandomForestRegressor(random_state=47)
rfmodel.fit(X_train,y_train)
ypredtrain2= rfmodel.predict(X_train)
ypredtest2=rfmodel.predict(X_test)
print("Train: ",r2_score(y_train,ypredtrain2))
print("TEST: ",r2_score(y_test,ypredtest2))

Train:  0.9847850917555502
TEST:  0.8878150302916414

## Gradient boost

In [49]:
from sklearn.ensemble import GradientBoostingRegressor

# Gradient Boosting Model
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)

# Predictions
y_pred_test2 = gb_model.predict(X_test)
y_pred_train2 = gb_model.predict(X_train)

In [50]:
# Evaluation
#R2
r2_train = r2_score(y_train, y_pred_train2)
r2_test = r2_score(y_test, y_pred_test2)

print(f"Train: r2: {r2_train}")
print(f"Test:  r2: {r2_test}")

Train: r2: 0.938122412173487
Test:  r2: 0.8890387494713005

# XGBoost Model

In [52]:
import xgboost as xgb

# XGBoost Model
xgb_model = xgb.XGBRegressor(random_state=42)
xgb_model.fit(X_train, y_train)

# Predictions
y_pred_test3 = xgb_model.predict(X_test)
y_pred_train3 = xgb_model.predict(X_train)

In [53]:
# Evaluation
#R2
r2_train = r2_score(y_train, y_pred_train3)
r2_test = r2_score(y_test, y_pred_test3)

print(f"Train: r2: {r2_train}")
print(f"Test: r2: {r2_test}")

Train: r2: 0.9989274144172668
Test: r2: 0.8926697969436646

In [55]:
from IPython.display import display, Markdown

markdown_code = r"""
| Models             |Train_R2| Test_R2|
|--------------------|--------|------|
| Linear Regression  | 0.5384 | 0.4906 | 
| Lasso Regression   | 0.5383 | 0.4909 |
| Ridge Regression   | 0.5382 | 0.4924 |
| Decision Tree      | 0.8259 | 0.7694 | 
| Random Forest      | 0.9847 | 0.8878 |  
| Gradient Boosting  | 0.9381 | 0.8890 | 
| XGBoost            | 0.9989 | 0.8927 | 
"""

display(Markdown(markdown_code))

| Models             |Train_R2| Test_R2|
|--------------------|--------|------|
| Linear Regression  | 0.5384 | 0.4906 |
| Lasso Regression   | 0.5383 | 0.4909 |
| Ridge Regression   | 0.5382 | 0.4924 |
| Decision Tree      | 0.8259 | 0.7694 |
| Random Forest      | 0.9847 | 0.8878 |
| Gradient Boosting  | 0.9381 | 0.8890 |
| XGBoost            | 0.9989 | 0.8927 |